%div(class="alert-input")
  %label(class="label")
    = label
  %div(class="input")
    %textarea(class="#{@error[name].nil? ? "" : " error"}" type="text" name="#{name.to_s}" cols=27 rows=10)
      = value
    - unless @error[name].nil?
      %div(class="help")
        = @error[name]
