%div(class="labeled-input")
  %form(action="/messagebox/send" id="send_form" method="post")
    - receivers.each do |receiver|
      %input(type="hidden" id="hidden#{receiver.id}" name="hidden#{receiver.id}" value="#{receiver.id}")
    %label
      Choose User:
    %div(id="receivers")
      - receivers.each do |receiver|
        %span(id="div#{receiver.id}" class="receiver")
          = receiver.name
          %button(class="remove" onclick="removeReceiver(#{receiver.id})")
            x
    %input(type="text" name="query" id="query")
    %label
      Subject:
    %input(type = 'text' name = 'subject')
    = haml :'partials/alert-textarea', :locals => { :name => :message, :label => "Message: " }
    %input(type = 'submit' value = 'send message')

%script(type="text/javascript" src="/java-script/add_remove_users.js")
%script(type="text/javascript" src="/java-script/search_users.js")