%div(id="navigation-bar")
  = render_file('partials/search.haml')
  %ul(id="navigation-registered" class="navigation")
    - navigation.travers(session[:navigation][:selected]) do |name, route, index, selected|
      - navigation_name = "navigation-registered-#{index}"
      %li{:id => navigation_name.sub("-registered", "")}
        - if session[:navigation][:selected] == name
          %span{:id => "#{navigation_name}-active"}
            %a{ :href=>route,  :title=>""}
              %span
                = "#{name}"
        - elsif name == "logout"
          %form(action="/unauthenticate" method="post")
            %button(name="submit" value="submit" type="submit")
        - elsif name == "messagebox"
          - #Simply ignore entry for mailbox
        - else
          %span{ :id => "#{navigation_name}-inactive"}
            %a{ :href=>route,  :title=>""}
              %span
                = "#{name}"