%div(class="profile-information")
  - current_user = Models::System.instance.fetch_account(session[:user])
  - current_organisation = Models::System.instance.fetch_account(session[:account]) if session[:account] != session[:user]
  - current_organisation = nil if session[:account] == session[:user]
  - if current_organisation == nil
    = "Logged in as: #{current_user.name} - Credits: #{current_user.credits} -"
  - else
    - is_admin = current_organisation.is_admin?(current_user)
    - limit = current_organisation.get_limit(current_user)
    = "Logged in as: #{current_organisation.name} - Credits of Organisation: #{current_organisation.credits} " if current_organisation != nil
    = "<br />Credits you can use: #{limit} " if !is_admin && limit != nil
  %div
  %form(name="organisation_switch" action="/organisation/switch" method="post")
    %input(type="submit" value="Watch as")
    %select(name="account" size="1")
      %option(value="#{current_user.id}"){ :selected => current_user.id == session[:account] ? true : false } #{current_user.name}
      - for org in Models::System.instance.fetch_organisations_of(current_user.id)
        %option(value="#{org.id}"){ :selected => org.id == session[:account] ? true : false } #{org.name}
