%h2 Your Profile
%br
#usr_img
  %img(height=200 width=200){ :alt => Models::System.instance.fetch_account(session[:user].to_i).name, :src => Models::System.instance.fetch_account(session[:user].to_i).avatar }

%br
= "Currently logged in as User: #{Models::System.instance.fetch_account(session[:user]).name}"
%br
= "Your E-Mail: #{Models::System.instance.fetch_account(session[:user]).email}"
%br
= "Your Credits: #{Models::System.instance.fetch_account(session[:user]).credits}"
%br
= "You have #{Models::System.instance.fetch_account(session[:user]).list_items.size} active Items"
%br
= "You have #{Models::System.instance.fetch_account(session[:user]).list_items_inactive.size} inactive Items"
%br
= "Your Description:"
%br
= "#{Models::System.instance.fetch_account(session[:user]).description}"

