#content
  %h1 Welcome to the Trading System!
  %div
  %h3 Preview:
  %div(id='preview')
    - for item in items_to_show
      %div(class='item_preview')
        %a(href="#{item.picture}" rel="lightbox")
          %img(class='preview_img' height=200 width=200){ :alt => "#{item.name}", :src => "#{item.picture}" }
        %div= item.name
        %div(class='line-spacing')
          Description:
          %div
          = item.description
        %div(class='line-spacing')
          Price:
          %div
          = item.price
