%h2 All Items
%br
%ul
  - for item in all_items
    %li
      %em= item.name
      %em= " owned by #{item.owner.name} costs #{item.price} credits"
      %img(height=50 width=50){ :alt => item.name, :src => item.picture }
      \:
      %form(action="/item/buy" method="post")
        %input(type = 'hidden' name = 'id'){ :value => "#{item.id}.#{item.name}" }
        %input(type = 'submit' value = 'Buy Item')

