!!!
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    %title Trading System - JOKR by #1
    - if defined? css
      %link(rel="stylesheet" href="/css/#{css}" type="text/css")
    - else
      %link(rel="stylesheet" href="/css/new_style.css" type="text/css")
    - if defined? script
      %script(type="text/javascript" src="/java-script/#{script}")

  %body{ defined?(onload) ? {:onload => "#{onload}"} : "" }
    = render_file('_the_header.haml')
    = render_file('_the_menu.haml') if session['auth']
    = render_file('_the_menu_b.haml') if !session['auth']
    %div(id="main")
      = yield
    = render_file('_the_footer.haml')