!!!

%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(http-equiv="Content-type" content="text/html;charset=UTF-8")

    %link(rel="icon" href="/images/logo/TradingSystemIcon.png" type="image/png")

    %title Trading System - JOKR by #1
    - if defined? css
      %link(rel="stylesheet" href="/css/#{css}" type="text/css")
    - else
      %link(rel="stylesheet" href="/css/new_style.css" type="text/css")
    - if defined? script
      %script(type="text/javascript" src="/java-script/#{script}")

  %body{ defined?(onload) ? {:onload => "#{onload}"} : "" }
    %div(id="container")
      - auth = session[:auth] ? "yes" : "no"
      - user = session[:auth] ? session[:user] : "none"
      - account = session[:auth] ? session[:account] : "none"
      - admin_view = Models::System.instance.fetch_account(session[:account]).is_admin?(Models::System.instance.fetch_account(session[:user])) if auth == "yes" && session[:account] != session[:user]

      = render_file_with_argument('frame/header.haml', {  :auth => auth,
                                                          :user => user,
                                                          :account => account,
                                                          :navigation => session[:navigation].get_selected } )

      = render_file_with_argument('frame/profile_information.haml', {:user => session[:user], :account => session[:account]}) if session[:auth]

      = render_file_with_argument('frame/subnavigation.haml', {:auth => session[:auth], :navigation => session[:navigation].get_selected })
      %div(id="main")
        -unless session[:alert].nil?
          %div{ :id => "message", :class => session[:alert].error? ? "error" : "success" }
            - unless session[:alert].title == ""
              %div
                %strong
                  = "#{session[:alert].title}"
            = "#{session[:alert].message}"
        - session[:alert] = nil
        = yield
      = render_file('frame/footer.haml')