%h2= "#{Models::System.instance.fetch_user(params[:id]).name}'s Items"
#usr_img
  %img(height=200 width=200){ :alt => Models::System.instance.fetch_account(params[:id]).name, :src => Models::System.instance.fetch_account(params[:id]).avatar }
%br
  = "Description:"
  %br
  = "#{Models::System.instance.fetch_account(params[:id]).description}"
%br
%h3 Check out my Items:
%ul
  - for item in active_items
    %li
      %em= item.name
      %em= item.price
      %img(height=50 width=50){ :alt => item.name, :src => item.picture }
      \:
      %form(action="/buy" method="post")
        %input(type = 'hidden' name = 'id'){ :value => "#{item.id}.#{item.name}" }
        %input(type = 'submit' value = 'Buy Item')
