%form(action="/account/edit/user/profile" enctype="multipart/form-data" method="post")
  - user = Models::System.instance.fetch_account(session[:user])

  %div(class="labeled-input")
  = haml :'partials/description-entry-horizontal', :locals => { :label => "Name:", :description => user.name }
  %table
    %tr
      %td
        %label Password:
      %td
        %input(type="password" name="password" id="password")
      %td
        %label(id="message")
    %tr
      %td
        %label Retype Password:
      %td
        %input(type="password" name="re_password" id="re_password")
      %td
        %label(id="re_message")
    %tr
      %td
        %label Email:
      %td
        %input(type="text" name="email"){:value => user.email}
          - class_to_set = ""
          - class_to_set = "warning" if session[:is_email_error] == "yes"
      %td
        %label(class="#{class_to_set}")
        = "#{session[:email_error]}"
    %tr
      %td
        %label Description:
      %td
        %textarea(name="interests" cols=30 rows=10)
          = user.description.to_s
    %tr
      %td
        %label Avatar:
      %td
        %input(type="file" name="avatar" size=50 maxlength="=100000" accept="text/*")
    %tr
      %td
        %input(type="submit" id="register" value="Edit Profile")



%form(action="/unregister" method="get")
  %button(class="warning" type="submit" name="delete account" value="delete account" id="deleteAcc")
    delete account