%h2 All Items
%table
  %tr
  - i = 0
  - for item in all_items
    - i = (i + 1)%2
    %tr{ :class => i == 0 ? "colored" : "normal" }
      %td{:width => "145px;"}
        %a{:href => "/item/#{item.id}"}
          = item.name.size > 15 ? "#{item.name[0..14]}..." : item.name
      %td=" owned by "
      %td{:width => "160px;"}
        %a{:href => "/#{item.owner.organisation ? "organisations" : "users"}/#{item.owner.id}"}
          = "#{item.owner.name}"
      %td{:width => "190px;"}= " costs #{item.price} credits"
      %td
        %img(height=50 width=50){ :alt => item.name, :src => item.picture }
      -time = item.timed_event.time
      %td{ :colspan => time == :forever ? 2 : 1 }
        %form(action="/item/buy" method="post")
          %input(type = 'hidden' name = 'id'){ :value => "#{item.id}.#{item.name}" }
          %input(type = 'hidden' name = 'version'){ :value => item.version }
          %input(type = 'submit' value = 'Buy Item')
      -if (time != :forever)
        %script(type="text/javascript")
          $(function () {
          = "austDay = new Date(\"#{time.strftime("%B %d, %Y %H:%M:%S")}\");"
          = "$('#countdown#{item.id}').countdown({until: austDay, format: 'DHM', expiryText: 'Beyond expiration time.</br> Reload your browser'});"
          $('#year').text(austDay.getFullYear());
          });
        %td
          %span{:id => "countdown#{item.id}"}

