- text = "ours"
- text = "yours" if session[:account] == session[:user]
%h2= "All Auctions, but #{text}"
%br
-if auctions.size != 0
  %table
    %tr
      %th Name
      %th
      %th Start Price
      %th Highest Bid
      %th Bidder
      %th Increment
      %th Time remaining
      %th
    - i = 0
    - auctions.each do |auction_id,auction|
      - i = (i+1)%2
      %tr{ :class => i == 0 ? "colored" : "normal" }
        %td
          %a{:href => "/auction/#{auction.id}"}
            = auction.item.name
        %td
          %img(height=50 width=50){ :alt => auction.item.name, :src => auction.item.picture }
        %td= auction.price[0]
        %td= auction.price.last
        %td= auction.bidder.last
        %td= auction.increment
        %td= auction.time_till_end

-else
  %p
    #{"There are no auctions yet"}