%h2 Edit Item
%br
  #item_img
    %img(height=200 width=200){ :alt => "#{name}", :src => "#{picture}" }

%form(action="/item/edit/save" enctype="multipart/form-data" method="post")
  %label= ("Name of Item: #{name}")
  %br
  %label Description of Item:
  %br
  %textarea(name="new_description" cols=30 rows=10)
    = "#{description}"
  %br
  %label Price:
  %br
  %input(type="text" name="new_price" value="#{price}")
  %br
  %label Item Picture:
  %br
  %input(type="file" name="item_picture" size=50 maxlength="=100000" accept="text/*")
  %input(type="hidden" name="id" value="#{id}")
  %br
  %input(type="submit" value="Save")

%br
- if description_list.descriptions.size > 1
  %h3 Use old description
  %table
    %tr
    - i = 0
    - description_list.traverse do |version, description|
      - i = (i + 1)%2
      - if version != description_position
        %tr{ :class => i == 0 ? "colored" : "normal" }
          %td
            %p= description
          %td
            %form(action="/item/edit/save_description" method="post")
              %input(type = 'hidden' name = 'id'){ :value => id }
              %input(type = 'hidden' name = 'desc_to_use'){ :value => version }
              %input(type = 'submit' value = 'Use')
      -else
        - i = i + 1
