%h2 Edit Auction
%br
%form(action="/item/edit/save_auction" enctype="multipart/form-data" method="post")
  %label Name of Item:
  %br
  %input(type="text" name="name" value="#{name}")
  %br
  %label Description of Item:
  %br
  %textarea(name="description" cols=30 rows=10)
    = "#{description}"
  %br
  %label Start Price:
  %br
  %input(type="text" name="start_price" value="#{price}")
  %br
  %label Increment:
  %br
  %input(type="text" name="increment" value="#{increment}")
  %br
  %label Please enter end time:
  %br
  %input(type="text" name="date_time" value="#{Time.now}")
  %label Item Picture:
  %br
  %input(type="file" name="item_picture" size=50 maxlength="=100000" accept="text/*")
  %input(type="hidden" name="id" value="#{id}")
  %br
  %input(type="submit" value="Edit Auction")