%h2  #{item.name}
%br
#usr_img
  %img(height=200 width=200){ :alt => item.name, :src =>item.picture }

%br
= "Price: #{item.price}"
%br
%br
= "Your Description:"
%br
= "#{item.description}"
%br

%form(enctype="text/form-data" method="post"){:action => "/item/add/comment/#{item.id}"}
  %label Title:
  %br
  %input(type="text" name="header" id="header")
  %br
  %label Comment:
  %br
  %textarea(name="comment" cols=30 rows=10)
    = session[:form_comment].to_s
  %input(type="submit" id="comment" value="Comment")

%h2
  Comments
- for comment in item.collect
  %div(class='comment'){ :style => "margin-left: #{(comment.depth-1)*20}px"}
    %div{:class => session[:account] == comment.creator.id ? 'self_info': 'user_info'}
      %a{ :href => "/users/#{comment.creator.id}" }
        =comment.creator.name.length > 15 ? "#{comment.creator.name[0..14]}..." : comment.creator.name
      %img(height=50 width=50){ :alt => comment.creator.name, :src => comment.creator.avatar }
    %div(class='comment_info')
      %h3
        #{comment.header}
      %p
        #{comment.comment}
        %br
        %br
        posted on: #{comment.date_stamp}
      %p
        %a{ :href => "/item/add/comment/#{item.id}/#{comment.nr}" }
          Comment



