#usr_img
  %a(href="#{item.picture}" rel="lightbox")
    %img(height=200 width=200){ :alt => item.name, :src =>item.picture }

%h2
  #{item.name}
  - if item.owner.id == session[:account]
    %span
      (You own it)

= haml :'partials/description-entry-horizontal', :locals => { :label => "Price:",
                                                              :description => item.price }

- description = item.description.size == 0 ? "*No description*" : item.description
= haml :'partials/description-entry-vertical_mkdown', :locals => { :label => "Item Description:",
                                                                   :description => description }

- if item.owner.id != session[:account]
  = "Owner: "
  %a(href="/users/#{item.owner.id}") #{item.owner.name}
  %div(class="align-forms-vertical")
    %form(action="/item/buy" method="post")
      = haml :'item/form/buy', :locals => { :item => item }
    -if (DAOAccount.instance.fetch_account(session[:account]).wish_list.items.include?(item))
      = haml :'partials/form/remove_from_wishlist', :locals => { :item => item }
    -else
      = haml :'partials/form/add_to_wishlist', :locals => { :item => item }
- else
  - if item.active
    %div(class="align-forms-vertical")
      = haml :'item/form/set_inactive', :locals => { :item => item }
  - else
    %div(class="align-forms-vertical")
      = haml :'item/form/set_active', :locals => { :item => item }
      = haml :'item/form/edit', :locals => { :item => item }
      = haml :'item/form/delete', :locals => { :item => item }

-time = item.get_expiration_date
-if (time != :forever)
  %div(class="padding-top")
    Offer expires in:
    :javascript
      $(function () {
        austDay = new Date("#{time.strftime("%B %d, %Y %H:%M:%S")}");
        $('#countdown').countdown({until: austDay, format: 'dHMS', expiryUrl: "/item/#{item.id}"});
        $('#year').text(austDay.getFullYear());
      });
    %div(id = "countdown")

%h2
  Comments
- for comment in item.collect
  %div(class='comment'){ :style => "margin-left: #{(comment.depth-1)*20}px"}
    %div{:class => item.owner.id == comment.creator.id ? 'self_info': 'user_info'}
      %a{ :href => "/users/#{comment.creator.id}" }
        =comment.creator.name.length > 15 ? "#{comment.creator.name[0..14]}..." : comment.creator.name
      %img(height=50 width=50){ :alt => comment.creator.name, :src => comment.creator.avatar }
    %div(class='comment_info')
      %h3
        #{comment.header}
      %p
        :markdown
          #{comment.comment}
      %p(class="padding-top")
        posted on: #{comment.date_stamp.strftime("%H:%M:%S, %a %d.%m.%Y")}
      %p
        %a{ :href => "/item/add/comment/#{item.id}/#{comment.nr}" }
          Reply

= haml :'item/write_comment', :locals => { :item => item }