%h2  #{item.name}
%br
#usr_img
  %a(href="#{item.picture}" rel="lightbox")
    %img(height=200 width=200){ :alt => item.name, :src =>item.picture }

%br
= "Price: #{item.price}"
%br
%br
= "Item Description:"
%br
:markdown
  #{item.description}
%br
  - if item.owner.id != session[:account]
    %form(action="/item/buy" method="post")
      %input(type = 'hidden' name = 'id'){ :value => "#{item.id}.#{item.name}" }
      %input(type = 'hidden' name = 'version'){ :value => item.version }
      %input(type = 'submit' value = 'Buy Item')
%br

-time = item.timed_event.time
-if (time != :forever)
  Offer expires in:
  %script(type="text/javascript")
    $(function () {
    = "austDay = new Date(\"#{time.strftime("%B %d, %Y %H:%M:%S")}\");"
    = "$('#countdown').countdown({until: austDay, expiryUrl: '/item/#{item.id}'});"
    $('#year').text(austDay.getFullYear());
    });
  %div(id = "countdown")



%h2
  Comments
- for comment in item.collect
  %div(class='comment'){ :style => "margin-left: #{(comment.depth-1)*20}px"}
    %div{:class => item.owner.id == comment.creator.id ? 'self_info': 'user_info'}
      %a{ :href => "/users/#{comment.creator.id}" }
        =comment.creator.name.length > 15 ? "#{comment.creator.name[0..14]}..." : comment.creator.name
      %img(height=50 width=50){ :alt => comment.creator.name, :src => comment.creator.avatar }
    %div(class='comment_info')
      %h3
        #{comment.header}
      %p
        :markdown
          #{comment.comment}
        %br
        %br
        posted on: #{comment.date_stamp.strftime("%H:%M:%S, %a %d.%m.%Y")}
      %p
        %a{ :href => "/item/add/comment/#{item.id}/#{comment.nr}" }
          Comment

%h2 Write a Comment
%form(enctype="text/form-data" method="post" class="bigmargin"){:action => "/item/add/comment/#{item.id}"}
  %label Title:
  %br
  %input(type="text" name="header" id="header")
  %br
  %label Comment:
  %br
  %textarea(name="comment" cols=30 rows=10)
    = session[:form_comment].to_s
  %input(type="submit" id="comment" value="Comment")