- text = "Our"
- text = "My" if session[:account] == session[:user]
%h2= "#{text} Active Items"



%table
  %tr
    %th Name
    %th Price
    %th
    %th
  - i = 0
  - for item in active_items
    - i = (i + 1)%2
    %tr{ :class => i == 0 ? "colored" : "normal" }
      %td{:width => "135px;"}
        %a{:href => "/item/#{item.id}"}
          = item.name.size > 15 ? "#{item.name[0..14]}..." : item.name
      %td{:width => "90px;"}= item.price
      %td
        %img(height=50 width=50){ :alt => item.name, :src => item.picture }
      -time = item.timed_event.time
      %td{ :colspan => time == :forever ? 2 : 1 }
        %form(name="state" action="/item/changestate/setinactive" method="post")
          %input(type="hidden" name="id" value="#{item.id}.#{item.name}")
          %input(class="itembuttons" type="submit" value="Set Inactive")
      -if (time != :forever)
        %script(type="text/javascript")
          $(function () {
          = "austDay = new Date(\"#{time.strftime("%B %d, %Y %H:%M:%S")}\");"
          = "$('#countdown#{item.id}').countdown({until: austDay, format: 'DHM', expiryText: 'Beyond expiration time. Reload your browser'});"
          $('#year').text(austDay.getFullYear());
          });
        %td
          %span{:id => "countdown#{item.id}"}
