- text = "Our"
- text = "My" if session[:account] == session[:user]
%h2= "#{text} Active Items"

%table
  %tr
    %th Name
    %th Price
    %th
    %th
  - i = 0
  - for item in active_items
    - i = (i + 1)%2
    %tr{ :class => i == 0 ? "colored" : "normal" }
      %td= item.name.size > 15 ? "#{item.name[0..14]}..." : item.name
      %td= item.price
      %td
        %img(height=50 width=50){ :alt => item.name, :src => item.picture }
      %td
        %a{ :href => "/item/comment/#{item.id}" }
          Comments
