%h2
  = conversation.title

- conversation.messages.each do |message|
  -if message.is_receiver?(session[:user])
    %h3
      = message.subject
    = "Date: " + message.date.to_s
    <br>
    = "From: " + System.instance.fetch_account(message.sender).name
    <br>
    = message.message

= haml :'mailbox/form/reply_message', :locals => { :conv_id => conversation.conversation_id, :mess_id => nil}
