%h2
  = conversation.title

- conversation.messages.each do |message|
  -if message.is_receiver?(session[:user])
    %h3
      = message.subject
    = "Date: " + message.date.strftime("%a %d.%m.%Y, %H:%M:%S")
    %div
    = "From: " + System.instance.fetch_account(message.sender).name
    %div(class="small-line-spacing")
    = message.message
    %div(class="small-line-spacing")
    = haml :'mailbox/form/reply_message', :locals => { :conv_id => conversation.conversation_id, :mess_id => message.message_id}
  %div(class="line-spacing")
= haml :'mailbox/form/reply_message', :locals => { :conv_id => conversation.conversation_id, :mess_id => nil}
