%h2= "#{Models::System.instance.fetch_account(params[:id].to_i).name}'s Organisation Profile"
#usr_img
  %a(href="#{Models::System.instance.fetch_account(params[:id].to_i).avatar}" rel="lightbox")
    %img(height=200 width=200){ :alt => Models::System.instance.fetch_account(params[:id].to_i).name, :src => Models::System.instance.fetch_account(params[:id].to_i).avatar }
%br
  = "Description:"
  %br
  = "#{Models::System.instance.fetch_account(params[:id].to_i).description}"
%br
%br
%h3 Check out our Items:

%table
  %tr
    %th Name
    %th Price
    %th
    %th
  - i = 0
  - for item in active_items
    - i = (i + 1)%2
    %tr{ :class => i == 0 ? "colored" : "normal" }
      %td{:width => "135px;"}
        %a{:href => "/item/#{item.id}"}
          = item.name.size > 15 ? "#{item.name[0..14]}..." : item.name
      %td{:width => "90px;"}= item.price
      %td
        %img(height=50 width=50){ :alt => item.name, :src => item.picture }
      %td
        %form(action="/item/buy" method="post")
          %input(type = 'hidden' name = 'id'){ :value => "#{item.id}.#{item.name}" }
          %input(type = 'submit' value = 'Buy Item')
