%h2="Is this the user you want to provide admin privileges to?"
%h3= "#{Models::System.instance.fetch_user_by_email(member).name}'s Profile"
#usr_img
  %img(height=200 width=200){ :alt => Models::System.instance.fetch_user_by_email(member).name, :src => Models::System.instance.fetch_user_by_email(member).avatar }
%br
  = "Description:"
  %br
  = "#{Models::System.instance.fetch_user_by_email(member).description}"
%br
%br
  %form(action="/organisation/member/to_admin/confirm" method="post")
    %input(type = 'hidden' name = 'user_email'){ :value => member }
    %input(type = 'submit' value = 'Confirm')
%br
