%h2="Is this the user you want to delete?"
%h3= "#{Models::System.instance.fetch_user_by_email(member).name}'s Profile"
#usr_img
  %img(height=200 width=200){ :alt => Models::System.instance.fetch_user_by_email(member).name, :src => Models::System.instance.fetch_user_by_email(member).avatar }
%div
  = "Description:"
  %div
  = "#{Models::System.instance.fetch_user_by_email(member).description}"
%div(class="padding-top")
  %form(action="/organisation/member/delete/confirm" method="post")
    %input(type = 'hidden' name = 'user_email'){ :value => member }
    %input(type = 'submit' value = 'Confirm')
%div
