%h2 Members of Organisation
%br
%table
  %tr
    %th Name
    %th
    %th
    %th
  - i = 0
  - for user in all_members
    - i = (i+1)%2
    %tr{ :class => i == 0 ? "colored" : "normal" }
      %td= user.name
      - if admin_view
        %td
          %form(name="remove" action="/organisation/member/delete" method="post")
            %input(type="hidden" name="member" value="#{user.email}")
            %input(class="itembuttons" type="submit" value="Remove from Organisation")
        %td
          %form(name="add_admin" action="/organisation/member/to_admin" method="post")
            %input(type="hidden" name="member" value="#{user.email}")
            %input(class="itembuttons" type="submit" value="Provide Admin Privileges")
      %td
        %img(height=50 width=50){ :alt => user.name, :src => user.avatar }
%br
%br
%h2 Administrators of Organisation
%br
%table
  %tr
    %th Name
    %th
    %th
    %th
  - i = 0
  - for admin in all_admins
    - i = (i+1)%2
    %tr{ :class => i == 0 ? "colored" : "normal" }
      %td= admin.name
      - if admin_view
        %td
          %form(name="remove" style="display:inline" action="/organisation/member/delete" method="post")
            %input(type="hidden" name="member" value="#{admin.email}")
            %input(class="itembuttons" type="submit" value="Remove from Organisation")
        %td
          %form(name="remove_admin" style="display:inline" action="/organisation/admin/to_member" method="post")
            %input(type="hidden" name="member" value="#{admin.email}")
            %input(class="itembuttons" type="submit" value="Revoke Admin Privileges")
      %td
        %img(height=50 width=50){ :alt => admin.name, :src => admin.avatar }
